.home {
  max-width: 1200px;
  margin: auto;
  .sub-hero-divider {
    width: 288px;
    margin: auto;
    height: 9px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #ef913c 0%, #f2446e 100%);
    margin-top: 4.8rem;
    margin-bottom: 3.6rem;
  }
}

.quote {
  padding-top: 4.8rem;
  &__header {
    padding-bottom: 2.4rem;
    @include flex(column, center, center);
    blockquote {
      text-align: center;
      width: 268px;
      padding-top: 2.4rem;
      font-size: 2.4rem;
    }
  }
  form {
    .general-info {
      @include flex(column, center, center);
      margin-bottom: 2.4rem;
    }
    .details {
      @include flex(column, center, center);
      margin-bottom: 2.4rem;
    }
    @include flex(column, center, center);
    padding-bottom: 2.4rem;
    input,
    select,
    textarea {
      font-size: 2rem;
      color: #f5f5f5;
      background-color: #111111;
      border: none;
      padding: 0.8rem;
      border-bottom: 1px solid #f5f5f5;
      margin: 1.2rem;
      width: 288px;
    }
    button {
      @include margin-y(2.4rem);
      @include button(#f2446e);
      padding: 0.8rem;
      width: 268px;
      border-radius: 8px;
    }
  }
}

.contact {
  padding-top: 4.2rem;
  &__top-wrapper {
    @include flex(row, center, center);
    margin-bottom: 3.2rem;
    h1 {
      font-size: 2.4rem;
      padding-top: 3.2rem;
      max-width: 200px;
      text-align: center;
      margin-right: 0.8rem;
    }
    img {
      @include size(68px, 68px);
    }
  }
  &__phone-desktop {
    display: none;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem;
    max-width: 286px;
    text-align: center;
    margin: auto;
    padding-top: 4.8rem;
    margin-bottom: 6rem;
  }
}

.about {
  padding-top: 4.2rem;
  &__header {
    @include flex(column, center, center);
  }
  h3 {
    text-decoration: underline;
  }
  @include flex(column, center, center);

  blockquote {
    padding-top: 1.2rem;
    width: 290px;
    font-weight: 400;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  &__about {
    h2 {
      text-align: center;
      text-decoration: underline;
      font-size: 1.6rem;
      padding-bottom: 0.8rem;
    }
    p {
      max-width: 200px;
    }
    margin-bottom: 2.4rem;
  }

  .dark {
    background-color: #28233b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    @include padding-x(1.6rem);
    h2 {
      padding-top: 1.6rem;
      text-decoration: underline;
      padding-bottom: 0.8rem;
    }
    p {
      padding-bottom: 1.6rem;
    }
    margin-bottom: 2.4rem;
  }
  .light {
    background: linear-gradient(135deg, #ef913c 0%, #f2446e 42.72%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    @include padding-x(1.6rem);
    h2 {
      padding-top: 1.6rem;
      text-decoration: underline;
      padding-bottom: 0.8rem;
    }
    p {
      padding-bottom: 1.6rem;
    }
    margin-bottom: 2.4rem;
  }
  &__mission {
    p {
      max-width: 220px;
      font-size: 1.2rem;
    }
  }
  &__vision {
    p {
      max-width: 220px;
      font-size: 1.2rem;
    }
  }

  &__team {
    height: 524px;
    P {
      font-size: 1.2rem;
    }
    max-width: 288px;
    border-radius: 16px;
    margin-bottom: 2.4rem;
    background-color: #1d1f1f;
    padding: 1.2rem;
    @include margin-x(1.6rem);
    &--wrapper {
      @include flex(row, space-between, center);
      h3 {
        font-size: 3.6rem;
        font-weight: 400;
      }
      padding-bottom: 0.8rem;
    }
    &--emily {
      border: 3px solid #f2446e;
    }
    img {
      border-radius: 50%;
      @include size(80px, 80px);
    }
    &--arno {
      border: 3px solid #0071b9;
      img {
        border-radius: 50%;
        @include size(80px, 80px);
      }
    }
  }
  &__story {
    h2 {
      text-decoration: underline;
    }
    P {
      font-size: 1.2rem;
      max-width: 280px;
    }
    @include margin-x(1.6rem);
  }
  &__conclusion {
    p {
      font-size: 1.2rem;
      max-width: 280px;
    }
    @include margin-x(1.6rem);
  }
}

@include media-breakpoint-up(md) {
  .home {
    .sub-hero-divider {
      width: 644px;
    }
  }
  .quote {
    &__header {
      flex-direction: row;
      margin-bottom: 8rem;
      blockquote {
        font-size: 3.6rem;
        width: 350px;
      }
      img {
        margin-left: 4.8rem;
      }
    }
    form {
      input,
      select {
        // padding-bottom: 1.6rem;
        width: 400px;
      }

      textarea {
        width: 500px;
      }
      button {
        width: 350px;
      }
    }
  }
  .about {
    padding-top: 5.6rem;
    h1 {
      blockquote {
        width: 350px;
        margin-right: 2.4rem;
      }
    }
    &__header {
      flex-direction: row;
      margin-bottom: 3.2rem;
    }
    &__meet-us-wrapper {
      @include flex(row, space-between, center);
    }
    &__mission,
    &__vision {
      p {
        max-width: 340px;
      }
    }
    &__conclusion,
    &__story {
      p {
        max-width: 500px;
      }
    }
  }

  .contact {
    &__top-wrapper {
      h1 {
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: -0.256rem;
        max-width: 350px;
      }
    }

    input,
    textarea {
      max-width: 300px;
    }
    &__phone-mobile {
      display: none;
    }
    &__phone-desktop {
      display: inline-block;
      margin-left: 1.6rem;
      padding: 5.2rem;
    }
    &__form-wrapper {
      @include flex(row, center, center);
      margin-bottom: 3.2rem;
    }
    &__text {
      max-width: 520px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .home {
    .sub-hero-divider {
      width: 750px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .home {
    .sub-hero-divider {
      width: 800px;
    }
  }
}
