.portfolio {
  .showcase {
    &__image {
      width: 80%;
      height: 100%;
      border-radius: 12px;
      @include media-breakpoint-up(lg) {
        max-width: 55%;
      }
    }
    h3 {
      @include brand-2();
      padding: 1.2rem 0;
    }
  }
  width: 100%;
  .swiper-prev {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 10%;
    background: none;
    border: none;
    cursor: pointer;
  }
  .swiper-next {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 10%;
    background: none;
    border: none;
  }
  .portfolio-intro {
    @include glass-card();
    @include flex(column, center, center);
    max-width: 300px;
    margin: 0 auto;
    padding: 0.8rem 0;
    margin-bottom: 3.2rem;

    @include media-breakpoint-up(md) {
      max-width: 80%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 55%;
    }

    h3 {
      @include brand-1();
      font-size: 4rem;
      letter-spacing: 0.25px;
      padding: 1.2rem 0;
      @include media-breakpoint-up(md) {
        font-size: 6rem;
      }
    }
    p {
      @include body-1();
      width: 600px;
    }
  }
  &__carousel {
    background:
      linear-gradient(353deg, #0f0713 13.79%, rgba(48, 23, 0, 0) 78.44%),
      url("/assets/images/why_choose_abstract.webp"),
      lightgray 50% / cover no-repeat;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 8rem;
  }
  &__button-wrapper {
    @include flex(row, flex-end, center);
    border-bottom: 2px solid $c-primary;
    margin: 1.6rem;
    button {
      @include button($c-primary);
      @include brand-4();
      padding: 0.8rem 3.2rem;
      border-radius: 8px;
    }
  }

  &__piece-carousel {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      282deg,
      rgba(239, 145, 60, 0.17) 1.07%,
      rgba(242, 68, 110, 0.1) 101.17%
    );
    border-radius: 16px;

    @include size(280px, 264px);
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }
  &__title {
    @include brand-2();
    padding-top: 1.6rem;
  }
  &__image {
    border-radius: 12px;
  }

  &__tech {
    border-radius: 4px;
    margin: 0 0.8rem;
    padding-top: 0.4rem;
  }

  &__intro {
    @include flex(column, flex-start, flex-start);
    text-align: left;
    padding: 0 2.4rem;
    h3 {
      @include brand-2();
      padding: 1.2rem 0;
    }
    p {
      @include body-2();
      //width: 200px;
    }
    margin-bottom: 2.4rem;
  }
  &__pieces-wrapper {
    @include flex(column, flex-start, center);
  }
  &__piece-card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      282deg,
      rgba(239, 145, 60, 0.17) 1.07%,
      rgba(242, 68, 110, 0.1) 101.17%
    );
    border-radius: 16px;
  }
  &__tech-stack-wrapper {
    @include flex(column, center, center);
    h2 {
      @include brand-2();
      padding: 1.2rem 0;
    }
    padding-bottom: 3.2rem;
  }
  .portfolio-piece-image {
    max-width: 80%;

    @include media-breakpoint-up(md) {
      max-width: 55%;
    }
  }
  .rate-my-loaf {
    @include flex(column, center, center);
    &__qr-codes {
      h3 {
        @include brand-2();
        padding: 1.2rem 0;
      }
      max-width: 320px;
      margin: 2rem auto;
      img {
        margin-bottom: 1.2rem;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .rate-my-loaf {
      &__qr-codes {
        @include flex(row, space-evenly, center);
        max-width: 600px;
        h3 {
          @include brand-2();
          padding: 1.2rem 0;
        }
      }
      &__qr-wrapper {
        margin-left: 1.2rem;
      }
    }
  }
  .chatwave {
    max-width: 35%;
    @include media-breakpoint-up(md) {
      max-width: 50%;
    }
    @include media-breakpoint-up(md) {
      max-width: 55%;
    }
  }
  .portfolio-info {
    @include brand-4();
    max-width: 300px;
    margin: 0 auto;
    padding: 2.4rem 0;
    @include media-breakpoint-up(md) {
      max-width: 450px;
      @include brand-3();
    }
  }
  &__tech-stack {
    @include flex(column, center, center);
    @include media-breakpoint-up(lg) {
      @include flex(row, space-evenly, center);
    }
    li {
      @include flex(column, space-evenly, center);
      height: 150px;
      width: 250px;
      @include brand-4();
      margin: 0 0.8rem;
      padding: 0.8rem 0.4rem;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @include glass-card();
      margin: 1.2rem 0;
      @include media-breakpoint-up(lg) {
        margin: 0 0.8rem;
      }
    }
  }
}
