.accordion-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.092rem;
  font-weight: 600;
}
.accordion-item {
  width: 290px;
  margin: 1.75rem 0;
  @include media-breakpoint-up(sm) {
    width: 400px;
  }
  @include media-breakpoint-up(md) {
    width: 540px;
  }
  @include media-breakpoint-up(lg) {
    width: 700px;
  }
  @include media-breakpoint-up(xl) {
    width: 800px;
  }
}
.accordion-title {
  @include flex(row, flex-start, center);
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;

  img {
    margin-right: 1.6rem;
  }
}

.faq {
  @include flex(column, center, center);
  padding-bottom: 2rem;
  &__title {
    max-width: 280px;
    font-size: 3.2rem;
    font-weight: 600;
  }
  &__content {
    max-width: 220px;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    margin: auto;
    padding: 1.6rem 0 0 2rem;
    @include media-breakpoint-up(sm) {
      max-width: 400px;
    }
  }
}
