.our-mission-card {
  @include flex(column, center, center);
  @include body-2();
  margin: auto;
  padding: 1.6rem;
  width: 280px;

  h2 {
    @include brand-2();
    padding-bottom: 1.2rem;
  }
}

.our-mission {
  @include flex(column, center, center);
  h2 {
    @include brand-2();
  }
  p {
    max-width: 208px;
    @include padding-x(1.6rem);
  }

  .main-wrapper {
    height: 210px;
    position: relative;

    &--content {
      @include flex(column, center, center);
      position: relative;
      z-index: 2;
      border-radius: 16px;
      height: 150px;
      background-color: #1d1f1f;
      box-shadow: 0 0 10px 0 rgba(8, 7, 7, 0.8);
    }
  }
}
@include media-breakpoint-up(md) {
  .our-mission {
    max-width: 650px;
    margin: auto;
    .main-wrapper {
      &--content {
        @include padding-y(2.4rem);
      }
      &--color {
        height: 180px;
      }
    }
    h2 {
      font-size: 3.6rem;
    }
    p {
      font-size: 1.6rem;
    }
    &__discover {
      width: 300px;
      align-self: flex-start;
    }
    &__design {
      align-self: flex-end;
      width: 300px;
    }
    &__build {
      width: 300px;

      align-self: flex-start;
    }
    &__launch {
      width: 300px;

      align-self: flex-end;
    }
    &__enjoy {
      width: 300px;

      align-self: flex-start;
    }
  }
}
