.tech-expertise {
  @include flex(column, flex-start, center);

  &__header {
    margin: auto;
  }
  &__title {
    margin-bottom: 2rem;
    @include brand-1();
    margin-top: 7.2rem;
  }
  &__subtitle {
    max-width: 275px;
    @include body-2();
    text-shadow: 0px 0px 50px #f2446e;
  }
  &__wrapper {
    margin-top: 4.8rem;
    padding-left: 2.4rem;
  }
  &__card {
    @include flex(column, flex-start, flex-start);
    margin-bottom: 3.2rem;
    max-width: 220px;
    text-align: left;
    p {
      @include body-2();
      padding-bottom: 0.8rem;
    }
    i {
      margin-top: auto;
      @include brand-5();
      color: #a79c9c;
      display: inline-block;
      max-width: 200px;
    }
  }
  &__card-header {
    @include flex(row, center, center);
    padding-bottom: 1.2rem;
    @include brand-2();
    img {
      margin-left: 1.2rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .tech-expertise {
    @include flex(column, flex-start, center);
    margin: 0 auto;
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      row-gap: 4.8rem;
      column-gap: 6.6rem;
      padding-bottom: 5.2rem;
    }
    .left {
      margin-left: auto;
    }
    .right {
      margin-right: auto;
    }
  }
}

@include media-breakpoint-up(xl) {
  .tech-expertise {
    background:
      linear-gradient(0deg, #0f0713 0%, rgba(15, 7, 19, 0) 35.5%),
      linear-gradient(180deg, #0f0713 0%, rgba(15, 7, 19, 0) 100%),
      linear-gradient(106deg, #000 0%, rgba(69, 33, 0, 0.25) 44.63%),
      url(../../assets/images/space_background.png),
      lightgray 50% / cover no-repeat;
    &__subtitle {
      max-width: 575px;
    }
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 3.2rem;
      column-gap: 2rem;
      padding-left: 0;
    }
    &__card {
      padding: 3.2rem;

      height: 285px;
      width: 220px;
      background: linear-gradient(
        91deg,
        rgba(40, 35, 59, 0.15) 0%,
        rgba(21, 15, 47, 0.25) 100%
      );

      border: 1px solid rgba($c-text, 0.15);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
      border-radius: 1.6rem;
      backdrop-filter: blur(8px);
    }
  }
}
