.what-we-do-cards {
  @include flex(column, center, center);
  @include body-2();

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 3.6rem;
  }

  &__card {
    @include flex(column, center, center);
    @include size(288px, 200px);
    border-radius: 1.6rem;

    h2 {
      @include brand-2();
    }
    p {
      padding: 1.6rem;
    }
  }
  .odd {
    border: 3px solid $c-primary;
    box-shadow: 0px 4px 10px 0px $c-primary;
  }
}

@include media-breakpoint-up(md) {
  .what-we-do-cards {
    @include body-1();
    &__card {
      @include size(288px, 288px);
      border: 3px solid $c-secondary;
      box-shadow: 0px 4px 10px 0px $c-secondary;
    }
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3.2rem;
      column-gap: 3.2rem;
      padding: 3.2rem;
    }
    .design {
      order: 1;
    }
    .webdev {
      order: 2;
    }
  }
}
@include media-breakpoint-up(lg) {
  .what-we-do-cards {
    &__card {
      @include size(350px, 350px);
    }
  }
}
@include media-breakpoint-up(xl) {
  .what-we-do-cards {
    &__card {
      //width: 450px;
    }
  }
}
