.why-choose-pixel {
  @include flex(column, center, center);

  padding-bottom: 4rem;
  .lg {
    display: none;
  }
  &__title {
    @include brand-1();
    max-width: 224px;
    margin: 0 auto;
    padding-bottom: 1.6rem;
  }
  &__card {
    @include glass-card();
    padding: 1.6rem;
    border: 1px solid rgba($c-text, 0.1);
    max-width: 288px;
    margin: 2rem 0;
    //margin: 0 auto;
    &--header {
      @include flex(row, space-around, center);
      border-radius: 8px;
      background: linear-gradient(91deg, #28233b 0%, #150f2f 100%);
      border: 1px solid rgba($c-text, 0.1);
      width: 288px;
      img {
        padding: 0.8rem;
      }
    }
    &--title {
      @include brand-2();
    }
    p {
      @include padding-y(1.6rem);
      @include brand-4();
      letter-spacing: 1px;
    }
  }

  .reverse {
    background: linear-gradient(271deg, #28233b 0%, #150f2f 100%);
  }
}

@include media-breakpoint-up(md) {
  .why-choose-pixel {
    max-width: 750px;
    margin: auto;
    .scrollbar {
      margin-top: 8rem;
    }
    &__card {
      max-width: 300px;
      &--header {
        width: 300px;
      }
    }

    &__title {
      font-size: 4rem;
      max-width: 288px;
    }

    &__stagger-box {
      @include flex(column, center, center);
      width: 100%;
      .left {
        align-self: flex-start;
      }
      .right {
        align-self: flex-end;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .why-choose-pixel {
    max-width: 940px;
    .lg {
      display: block;
    }
    &__card {
      max-width: 400px;
      &--header {
        width: 400px;
      }
    }
    p {
      @include brand-3();
      letter-spacing: 0.25px;
    }
  }
}
