.why-choose-pixel {
  @include flex(column, center, center);
  .lg {
    display: none;
  }
  &__title {
    @include brand-1();
    max-width: 224px;
    margin: 0 auto;
    padding-bottom: 1.6rem;
  }
  &__card {
    max-width: 288px;
    //margin: 0 auto;
    &--header {
      @include flex(row, space-around, center);
      border-radius: 8px;
      background: linear-gradient(91deg, #28233b 0%, #150f2f 100%);
      border: 1px solid rgba($c-text, 0.1);

      img {
        padding: 0.8rem;
      }
    }
    &--title {
      @include brand-2();
    }
    p {
      @include padding-y(1.6rem);
      @include body-2();
    }
  }

  .reverse {
    background: linear-gradient(271deg, #28233b 0%, #150f2f 100%);
  }
}

@include media-breakpoint-up(md) {
  .why-choose-pixel {
    max-width: 680px;
    margin: auto;
    .scrollbar {
      margin-top: 8rem;
    }

    &__title {
      font-size: 4rem;
      max-width: 288px;
    }

    &__stagger-box {
      @include flex(column, center, center);
      width: 100%;
      .left {
        align-self: flex-start;
      }
      .right {
        align-self: flex-end;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .why-choose-pixel {
    .lg {
      display: block;
    }
    p {
      @include body-1();
    }
  }
}
